#baner {
    width: 100%;
    height: 350px;
    display: table;
}

#baner.brasil {
    background: no-repeat center center / cover url("ImagesPages/title_resized/dessert-74568_1920.jpg");
}

#baner.chile {
    background: no-repeat center center / cover url("ImagesPages/title_resized/chile-693065.jpg");
}

#baner.mexico {
    background: no-repeat center center / cover url("ImagesPages/title_resized/landscape-695030.jpg");
}

#baner.peru {
    background: no-repeat center center / cover url("ImagesPages/title_resized/peru-2532604.jpg");
}

.tit_contactde,
.tit_biode,
.tit_count {
    display: table-cell;
    vertical-align: middle;
    padding-left: 17.5%;
    padding-top: 4%;
    font-family: 'Ultra';
    font-size: 4.2rem;
    color: white;
}

@media(max-width:641px) {
    .tit_contactde,
    .tit_biode,
    .tit_count {
        padding-left: 5%;
        padding-top: 9%;
        font-size: 3.5rem;
    }
}